<!DOCTYPE html>


<html>

<head>
    <title>todo page</title>
</head>

<body>
    <h1>
        <center>TO DO LIST</center>
    </h1><br />
    <br />
    <br />
    <br />
    <br />

    <div class="main">
        <center>
            <!-- Create a Form -->
            <form method="POST" target="_self" action="{% url 'todo.views.add' %}">
                <!-- Security token by Django -->
                {% csrf_token %}

                <!-- form as paragraph -->
                <input type="text" name="title" style="font-size: 18pt; height: 40px; width:800px; ">

                <fieldset>
                    <legend>Done or not:</legend>
                  
                    <div>
                      <input type="radio" name="done" value=1 checked />
                      <label for="huey">Done</label>
                    </div>
                  
                    <div>
                      <input type="radio" name="done" value=0 />
                      <label for="dewey">Not Complete yet</label>
                    </div>
                  
                  </fieldset>

                <input type="submit" value="Add" , style="font-size: 18pt; height: 40px; width:200px; color:blue; ">
            </form>

            <hr width="100%;" color="Black" size="5">

            <div class="main">
                <center>

                    {% for data in tasks %}.

                    <div>
                        {{ data.title }}<br />
                        {{ data.done }}<br />
                        <form method="POST" target="_self" action="{% url 'todo.views.delete' data.pk %}">
                            {% csrf_token %}
                            <input type="submit" value="X" , style="font-size: 18pt; height: 40px; width:200px; color:blue; ">
                        </form>
                        <hr />
                    </div>

                    {% endfor %}

                </center>
            </div><br />
</body>

</html>