{% load static %}

<!DOCTYPE html>


<html>

<head>
    <link rel="stylesheet" href=" {% static 'css/mystyle.css' %} ">
    <title>todo page</title>
</head>

<body>
    <h1>
        <center>TO DO LIST</center>
        <hr width="70%;" color="Black" size="3">
    </h1><br />
    <br />
    <br />
    <br />
    <br />

    <div class="main">
        <center>
            <form method="POST" target="_self" action="{% url 'todo.views.add' %}">
                {% csrf_token %}
                <p, style="font-size: large;">Add your tasks:</p>
                    <input type="text" name="title" placeholder="  Your Task..." style="font-size: 15pt; height: 40px; width:700px;
                    "><br /><br />

                    <fieldset>
                        <legend, style="font-size: 10pt; height: 40px; ">Done or not:</legend>

                            <div>
                                <input type="radio" name="done" value=1 checked />
                                <label for="huey">Done</label>
                            </div>

                            <div>
                                <input type="radio" name="done" value=0 />
                                <label for="dewey">Not Complete yet</label>
                            </div>

                    </fieldset><br />

                    <input type="submit" value="Add" class="one"
                        style="font-size: 14pt; height: 40px; width:100px; color: black; ">
            </form>

            <hr style="order: none;
                            border-top: 5px dotted black;
                            position: relative;
                            bottom: 70px;
                            color: black;
                            width: 100%;">

            <div class="main">


                {% for data in tasks %}
                <hr width="100%" color="black" size="1px"><br>
                <div>
                    {{ data.title }}
                    {% if data.done %}
                    <img src="{% static 'images/ggg.png' %}"  class="gggs">
                    {% else %}
                        <img src="{% static 'images/gg.png' %}"  class="ggs">
                    {% endif %}
                    <form method="POST" target="_self" action="{% url 'todo.views.delete' data.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="two" style="display: flex;
                            justify-content: center;
                            align-items: center;"><img src="{% static 'images/trash.jpg' %}" class="pose"></button>
                    </form>
                </div>

                {% endfor %}


            </div><br />
</body>

</html>